[Unit]
Description=Node.js Application
After=multi-user.target systemd-update-utmp-runlevel.service
[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/AquosControlRest
ExecStart=/usr/local/bin/npm start 
KillMode=process
Restart=on-failure
RestartSec=60s
[Install]
WantedBy=multi-user.target
